{% extends "pokemons/base.html" %}
{% block main %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock content%}</div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>
                    Sidebar</h3>
                <p class='text-muted'>
                    Great information here...
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                        <a href=
                                {% if user.is_authenticated %}
                                    "{% url 'pokemons-create' %}"
                                {% else %}
                                    "#"
                                {% endif %}
                        >
                            Add Pokemon</a></li>
                    <li class="list-group-item list-group-item-light">
                        <a href=
                                {% if user.is_authenticated %}
                                    "{% url 'favourites' %}"
                                {% else %}
                                    "#"
                                {% endif %}
                        >
                            Favourites</a></li>
                    <li class="list-group-item list-group-item-light">
                        Incredible menu item</li>
                    <li class="list-group-item list-group-item-light">
                        etc</li></ul></p></div></div></div></main>{% endblock main %}
